<div class="container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    <ng-container matColumnDef="id_sugerencia">
      <th mat-header-cell *matHeaderCellDef> Id</th>
      <td mat-cell *matCellDef="let element"> {{element.id_sugerencia}}</td>
    </ng-container>

    <ng-container matColumnDef="nombreLibro">
      <th mat-header-cell *matHeaderCellDef> Nombres</th>
      <td mat-cell *matCellDef="let element" class='m-card-title'> {{element.nombreLibro}}</td>
    </ng-container>

    <ng-container matColumnDef="isbn">
      <th mat-header-cell *matHeaderCellDef> ISBN</th>
      <td mat-cell *matCellDef="let element"> {{element.isbn}} </td>
    </ng-container>

    <ng-container matColumnDef="autor">
      <th mat-header-cell *matHeaderCellDef> Autor</th>
      <td mat-cell *matCellDef="let element" class='m-card-sub-title'> {{element.autor}} </td>
    </ng-container>

    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef> Fecha</th>
      <td mat-cell *matCellDef="let element" class='has_label_on_mobile'> {{element.fecha}}</td>
    </ng-container>

    <ng-container matColumnDef="ci_solicitante">
      <th mat-header-cell *matHeaderCellDef> CI Solicitante</th>
      <td mat-cell *matCellDef="let element">{{element.ci_solicitante}}  </td>
    </ng-container>

    <ng-container matColumnDef="modificar">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="deleteSuggestions(element.id_sugerencia)">
              <mat-icon>delete</mat-icon>
              <span>Eliminar</span>
            </button>
          </mat-menu>
          <mat-icon>more_vert</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

