table {
  width: 100%;
}

.mat-row a:hover {
  text-decoration: underline;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.mat-icon {
  color: #3e75ff;
}
@media screen and (max-width: 450px) {
  .mat-elevation-z8 {
    background: transparent;
    box-shadow: none;
  }
  .mat-header-row {
    display: none;
  }
  tbody {
    display: block;
    width: 100%;
  }
  .mat-table {
    background: transparent;
  }
  .mat-table * {
    box-sizing: border-box;
  }
  .mat-table .mat-row {
    display: block;
    overflow: hidden;
    height: auto;
    position: relative;
    clear: both;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
    background-color: #fff;
    border-radius: 3px;
  }
  .mat-table .mat-row + .mat-row {
    margin-top: 24px;
  }
  .mat-table .mat-cell {
    display: block;
    width: 100%;
    padding: 0 16px;
    margin: 16px 0;
    border: 0 none;
  }
  .mat-table .mat-cell:first-child {
    padding: 0 48px 0 16px;
  }
  .mat-table .mat-cell:first-child a {
    font-size: 20px;
    color: inherit;
  }
  .mat-table .mat-cell:first-child:before {
    display: none;
  }
  .mat-table .mat-cell.m-card-sub-title {
    margin-top: -8px;
    padding: 0 48px 0 16px;
    color: rgba(0, 0, 0, .54);
  }
  .mat-table .has_label_on_mobile:before {
    content: attr(data-label);
    display: inline;
    font-weight: normal;
  }
  .mat-table .mat-column-star {
    width: auto;
    padding: 8px 0 0 !important;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
  }
  .mat-table .mat-column-star:before {
    display: none;
  }
  .mat-paginator {
    margin-top: 24px;
  }
}
