.campos-field {
    width: 80%;
    margin-left: 10%;
    margin-right: 20%;
}

.container{

    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    width:50%;
    margin-left:25%;
    margin-right:25%;
}


.forgot-password{
  font-family: var(--ff-fresca);
  font-size: var(--fs-p);
  color: var(--pc-amparo-blue);
}

