<div>
  <div class="row justify-content-md-center">
    <div class="col-lg-3">
      <div class="container color img">
        <img src="../../../assets/img/books/Caraval.webp" alt="libro" height="450" width="250">
      </div>
    </div>
    <div class="col-lg-5">
      <div class="container principal">
        <h1>Caraval</h1>
        <p>Stephanie Garber</p>
        <h2>$55.00</h2>
        <button mat-flat-button color="primary">
          <mat-icon>add_shopping_cart</mat-icon>Agregar al carrito
        </button>
      </div>
      <div class="container descrip">
        <h2>Descripción</h2>
        <p>Caraval es magia, misterio y aventura. Y para Scarlett y su hermana representa la libertad y poder huir de su
          padre. Ahora que está a punto de casarse con un hombre al que nunca ha visto, Scar cree que su sueño nunca se
          cumplirá. Pero justo dos semanas antes de la boda recibe las tan ansiadas invitaciones a los juegos.</p>
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-lg-3">
      <div class="container color">
        <h2>Detalles</h2>
        <p>
          Autor: Stephanie Garber<br>
          Editorial: Planeta<br>
          Fecha de publicación: 28/02/2017<br>
          Páginas: 432<br>
          ISBN: 9788408169239<br>
          Categoría: Jóvenes
        </p>
      </div>
    </div>
    <div class="col-lg-5">
      <div class="container color">
        <h2>Categorías</h2>
        <button class="button">Jóvenes</button>
        <button class="button">Fantasía y Magia</button>
      </div>
    </div>
  </div>
</div>