/*! Not importing typography.css*/

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.separator {
  outline: solid var(--pc-amparo-blue);
  height: 90px;
}

div {
  outline: solid red;
}

/* #region Section-1*/

section[id^="Section"] {
  outline: solid forestgreen;
}

#Section-1 {
  background-color: var(--pc-amparo-blue);
  /* max-height: 675px; */
  /* height: 670px; */
}
#Section-1 #left {
  background-color: yellow;
  /* width: 683px; */
}

#Section-1 #right {
  background-color: brown;
  /* width: 390px; */
}

#Section-1 #left #img-1 {
  background-color: aqua;
  /* width: 683px; */
  /* height: 330px; */
}

#Section-1 #left #img-2 {
  background-color: purple;
  /* height: 330px; */
}

#Section-1 #left #img-3 {
  background-color: green;
  /* height: 330px; */
}

/* #endregion */

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
