/*! Not importing typography.css*/

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.separator {
  outline: solid var(--pc-amparo-blue);
  height: 90px;
}

div {
  outline: solid red;
}

/* #region Section-1*/

section[id^="Section"] {
  outline: solid forestgreen;
}

#Section-1 {
  background-color: var(--pc-amparo-blue);
  /* height: 675px; */
  /* max-height: 670px; */
}
#Section-1 #left {
  background-color: yellow;
  /* width: 683px; */
}

#Section-1 #right {
  background-color: brown;
  /* width: 390px; */
}

#Section-1 #left #img-1 {
  background-color: aqua;
  /* width: 683px; */
  /* max-height: 330px; */
}

#Section-1 #left #img-2 {
  /* background-color: purple; */
  /* max-height: 330px; */
}

#Section-1 #left #img-3 {
  background-color: green;
  /* max-height: 330px; */
}

#right img {
  height: 100%;
  object-fit: cover;
}

.container-img {
  height: 330px;
}

/* #endregion */
