<!-- Sección 1  -->
<section id="Section-1" class="row">

  <!-- col Izquierda -->
  <div id="left" class="col-md-8">
    <div id="img-1" class="row">
      <img class="img-fluid" src="../../../../../assets/img/modules/noticias/photo-1.jpg" alt="photo-1">
      <h3>Izquierda img-1</h3>
    </div>

    <div class="row">
      <div id="img-2" class="col-md-6">
        <img class="img-fluid" src="../../../../../assets/img/modules/noticias/photo-2.jpg" alt="photo-2">
        <h3>Izquierda img-2</h3>
      </div>

      <div id="img-3" class="col-md-6">
        <img class="img-fluid" src="../../../../../assets/img/modules/noticias/photo-3.jpg" alt="photo-3">
        <h3>Izquierda img-3</h3>
      </div>
    </div>
  </div>

  <!--col derecha -->
  <div id="right" class="col-md-4">
    <h3>TRENDING</h3>

    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="img-fluid " alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<div class="separator"></div>

<!-- Sección 2 -->
<section id="Section-2">
  <h3>Sección 2</h3>
</section>

<div class="separator"></div>

<!-- Sección 3 -->
<section id="Section-3">
  <h3>Sección 3</h3>
</section>