.news-container {
  height: 100vh;
  background: #eee;
}

.side-nav {
  width: 25%;
}

mat-action-list {
  margin-top: 20px;
}

.mat-form-field {
  margin-top: 40px;
  margin-left: 15px;
}

input {
  border-radius: 20px black !important;
}

.row > * {
  margin-top: 15px;
  margin-bottom: 15px;
}
