<p>noticia-inicio works!</p>

<h3>Sección 1</h3>
<!-- Sección 1  -->
<section class="section1">

  <div class="row">

    <!-- col Izquierda -->
    <div class="col-md-8 section1-left">

      <!-- Arriba -->
      <div class="row section1-left-up">
        <p>texto arriba</p>
        <h3>Texto en el Medio de la Imagen</h3>
        <p>Texto abajo</p>
      </div>

      <!-- Abajo -->
      <div class="row section1-left-down">

        <!-- Abajo_ izquierda -->
        <div class="col row section1-left-down-left">
          <p>texto arriba</p>
          <h3>Texto en el Medio de la Imagen</h3>
          <p>Texto abajo</p>
        </div>

        <!-- Abajo_ derecha -->
        <div class="col row section1-left-down-right">
          <p>texto arriba</p>
          <h3>Texto en el Medio de la Imagen</h3>
          <p>Texto abajo</p>
        </div>

      </div>
    </div>

    <!--col derecha -->
    <div class="col-md-4 section1-right">
      <h3>TRENDING</h3>
    </div>
  </div>
</section>

<div class="separator"></div>

<!-- Sección 2 -->
<section>
  <h3>Sección 2</h3>
</section>

<div class="separator"></div>

<!-- Sección 3 -->
<section>
  <h3>Sección 3</h3>
</section>