
<ul style="list-style: none;">
    <li id="carrito"> <b>Carrito de compras ---- </b></li>

    <li id="datosPago">Datos de pago  ----  </li>
   
    <li id="confirmacion">Confirmación</li>
    
</ul>
<div class="container-xl" >

    <!-- CARD SECTION -->
    <div class="gridDiv" id="carSection" style="padding: 70px">
        <div class="cardF">
            <div>
                <mat-card style="width: 350px; height: 188px; border-radius: 20px;" class="example-card">

                    <mat-card-title style=" float: right;">
                        <i>
                            <mat-icon style="cursor: pointer; color: red;">delete</mat-icon>
                        </i>
                    </mat-card-title>
                    <mat-card-title-group>

                        <mat-card-header>
                            <mat-card-title style="font-size: 18px;">Los que sobran</mat-card-title>
                            <mat-card-subtitle>Juan Carlos Florez</mat-card-subtitle>
                            <mat-card-subtitle style="margin-top: 20px;">
                                
                                <div>
                                    <ul style="padding: 0;">
                                        <i (click)="suma()">
                                            <li>
                                                <mat-icon aria-hidden="false" aria-label="Example home icon"
                                                    style="cursor: pointer; color: blue;">add_circle</mat-icon>
                                            </li>
                                        </i>

                                        <li>
                                            <span style="font-size: 30px;"> {{cantidad}} </span>
                                        </li>

                                        <i (click)="resta()">
                                            <li>
                                                <mat-icon aria-hidden="false" aria-label="Example home icon"
                                                    style="cursor: pointer; color: red;">remove_circle</mat-icon>
                                            </li>
                                        </i>

                                    </ul>


                                </div>

                            </mat-card-subtitle>
                            <mat-card-subtitle style="margin-top: 20px;">
                                <h3 style="font-size: 25px;">55.00$</h3>
                            </mat-card-subtitle>


                        </mat-card-header>
                        <img style="width: 130px; height: 160px; border-radius: 10px; margin-top: 0px;" mat-card-xl-image
                            src="http://localhost:4200/assets/img/books/LosQueSobran.webp">


                    </mat-card-title-group>


                </mat-card>
                
            </div>




            <!-- FIN UN CARD -->



            <!-- FIN UN CARD -->
        

            <div>
                <mat-card style="width: 350px; height: 188px; border-radius: 20px;">

                    <mat-card-title style=" float: right;">
                        <i>
                            <mat-icon style="cursor: pointer; color: red;">delete</mat-icon>
                        </i>
                    </mat-card-title>
                    <mat-card-title-group>

                        <mat-card-header>
                            <mat-card-title>La Invitada</mat-card-title>
                            <mat-card-subtitle>Jennifer McMahon</mat-card-subtitle>
                            <mat-card-subtitle style="margin-top: 20px;">
                                <div>
                                    <ul style="padding: 0;">
                                        <i >
                                            <li>
                                                <mat-icon aria-hidden="false" aria-label="Example home icon"
                                                    style="cursor: pointer; color: blue;">add_circle</mat-icon>
                                            </li>
                                        </i>

                                        <li>
                                            <span style="font-size: 30px;"> 1 </span>
                                        </li>

                                        <i>
                                            <li>
                                                <mat-icon aria-hidden="false" aria-label="Example home icon"
                                                    style="cursor: pointer; color: red;">remove_circle</mat-icon>
                                            </li>
                                        </i>

                                    </ul>


                                </div>

                            </mat-card-subtitle>
                            <mat-card-subtitle style="margin-top: 20px;">
                                <h3 style="font-size: 25px;">52.00$</h3>
                            </mat-card-subtitle>


                        </mat-card-header>
                        <img style="width: 130px; height: 160px; border-radius: 10px; margin-top: 0px;" mat-card-xl-image
                            src="http://localhost:4200/assets/img/books/LaInvitada.webp">


                    </mat-card-title-group>


                </mat-card>
            </div>
        </div>

        <!-- boostrap -->


        <!-- ↑ -->

        <div class="factura">
            <div>
                <br>
                <h1><b>Resumen del Carrito</b> </h1>
                <div class="row" style="text-align: left;">
                    <div class="col-md-6"><b>TOTAL PRODUCTOS: 2</b>
                        
                    </div>
                    
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6" style="text-align: left;">
                        <b>Precio sin impuestos:</b>
                    </div>
                    <div class="col-md-6  text-right">
                        107.00$
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6" style="text-align: left;">
                        <b>Costo de Envio:</b>
                    </div>
                    <div class="col-md-6  text-right" >
                        00.00$
                    </div>
                </div>
                <br>
               
                <div class="row">
                    <div class="col-md-6 " style="text-align: left;">
                        <b>Servicio de Regalo</b>
                    </div>
                    <div class="col-md-6  text-right">
                        00.00$
                    </div>
                </div>
                <br>
       
                <br>
                <div class="row">
                    <div class="col-md-6 " style="text-align: left;">
                        <b>Total IVA 12%:</b>
                    </div>
                    <div class="col-md-6  text-right">
                        12.84$
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6 " style="text-align: left;">
                        <b>Total de la Orden:</b>
                    </div>
                    <div class="col-md-6  text-right">
                        119.84$
                    </div>
                </div>
                
            </div>
            <br>
            <br>
            <div>
                <button (click)="comprar()" type="button" class="btn btn-primary btn-lg" style="border-radius: 15px;">
                    Comprar 
                    <i class="bi bi-bag"></i>
                </button>
            </div>
        </div>
        <!-- fin  div factura -->

       
    </div>
    <!-- ↑ -->

    <!-- PAYMENT SECTION -->
    <div class="container" id="paySection" style="display: none;">
        <div class="row m-0">
            <div class="col-md-7 col-12">
                <div class="row">
                    <div class="col-12 mb-4">
                        <br><br><br>
                        <div class="row box-right" style="padding-right: 0px; padding-left: 0px;
                         margin-left: 0px; margin-right: 0px;" >
                            <div class="col-md-8 ps-0 ">
                                <p class="ps-3 textmuted fw-bold h6 mb-0">TOTAL A PAGAR</p>
                                <div class="precio">
                                    <p class="h1 fw-bold d-flex"> <span
                                        class=" fas fa-dollar-sign textmuted pe-1 h6 align-text-top mt-1"></span>119
                                    <span class="textmuted">.84</span> </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <p class="p-blue"> <span class="fas fa-circle pe-2"></span>Impuesto </p>
                                <p class="fw-bold mb-3"><span class="fas fa-dollar-sign pe-1"></span>12 <span
                                        class="textmuted">%</span> </p>
                                <p class="p-org"><span class="fas fa-circle pe-2"></span>Promociones</p>
                                <p class="fw-bold"><span class="fas fa-dollar-sign pe-1"></span>00<span
                                        class="textmuted">.00</span></p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-12 px-0">

                        <div class="box-right">
                            <div class="mb-3">
                                <p class="fw-bold text-center" style="font-size: 20px;" >Datos de Comprador</p>
                                
                            </div>
                          
                            <div class="row">
                                
                                <div class="col-6 ">
                                    <p class="textmuted h6 mb-1">Nombres</p> <input class="form-control" type="text"
                                         value="Juan Fernando">
                                </div>
                                <div class="col-6 mb-3">
                                    <p class="textmuted h6 mb-1">Apellidos</p> <input class="form-control" type="text"
                                       value="Romero Espinoza">
                                </div>

                                <div class="col-8 mx-auto mb-3">
                                    <p class="textmuted h6 mb-1">Correo Electronico</p> <input class="form-control"
                                        type="email" value="juanfer@hotmail.com">
                                </div><br>
                                <div class="col-6">
                                    <p class="textmuted h6 mb-1">Telefono</p> <input class="form-control" type="number"
                                       value="0969858541">
                                </div><br>

                                <div class="col-6 mb-4">
                                    <p class="textmuted h6 mb-1">Cedula</p> <input class="form-control" type="number"
                                       value="0915445457">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-12 ps-md-5 p-0 ">
                <div class="box-left" style="margin-top: 130px">
                    <div class="">
                        <p class="h7 fw-bold mb-1">Método de Pago</p>
                        <p class="textmuted h8 mb-2">Realice el pago de esta factura completando los detalles</p>
                        <div class="form">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card border-0"> <input class="form-control ps-5" type="number"
                                            placeholder="Numero de tarjeta" value="40001234567890100" ><span class="far fa-credit-card"></span> </div>
                                </div>
                                <div class="col-6"> <input class="form-control my-3" type="text" placeholder="DD/MM/AA" value="04/24"></div>
                                <div class="col-6"> <input class="form-control my-3" type="number" placeholder="cvv" value="567"> </div>
                                <!-- <p class="p-blue h8 fw-bold mb-3">MORE PAYMENT METHODS</p> -->
                            </div>
                            <div class="btn btn-primary " style="border-radius: 20px;" (click)="finCompra()" >Pagar <span
                                    class="fas fa-dollar-sign ms-2"></span>119.84<span class="ms-3 fas fa-arrow-right"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ↑ -->


    <!-- SECTION FINAL -->
    <div class="container" id="finalComp" style="display: none; padding-top: 64px;">
        <div>
            <h1 class="fw-bold">COMPRA REALIZADA EXITOSAMENTE</h1>
            <i class="bi bi-cart-check-fill fa-10x"></i>
            <br><br>
            <h3>Los datos de su compra serán enviados a su correo electrónico. Muchas gracias por preferirnos.</h3>
        </div>
    </div>
</div>


