<mat-card class="card-libro" (click)="openDetalle(InputLibros)">
    <img mat-card-image src="../../assets/img/books/{{InputLibros.imagen}}" alt="{{InputLibros.titulo}}"
        class="card-img-top" />
    <mat-card-header>
        <mat-card-title>{{InputLibros.titulo}}</mat-card-title>
        <mat-card-subtitle>{{InputLibros.autor}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
        <div style="font-size: 20px; font-weight: bold; text-align: center">
            ${{InputLibros.precio.toFixed(2)}}
            <button mat-button class="col-sm cart-comprar">
                <i class="bi bi-cart-fill" style="font-size: 1.5rem"></i>
            </button>
        </div>
    </mat-card-actions>
</mat-card>