<mat-card class="card-libro" [routerLink]="'/detalle-libro'">
    <img mat-card-image src="../../assets/img/books/{{imagen}}" alt="{{titulo}}" class="card-img-top" />
    <mat-card-header>
        <mat-card-title>{{titulo}}</mat-card-title>
        <mat-card-subtitle>{{autor}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
        <div style="font-size: 20px; font-weight: bold; text-align: center">
            ${{precio.toFixed(2)}}
            <button mat-button class="col-sm cart-comprar">
                <i class="bi bi-cart-fill" style="font-size: 1.5rem"></i>
            </button>
        </div>
    </mat-card-actions>
</mat-card>