<div class="container">
    <mat-form-field>
        <mat-label>Filtro</mat-label>
        <input matInput appearance="outline" (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
        <mat-icon matPrefix>search</mat-icon>
    </mat-form-field>

    <mat-sidenav-container class="catalogo-container">
        <mat-sidenav class="sidenav" mode="side" opened>
            <mat-action-list>
                <button mat-list-item> Aventura </button>
                <button mat-list-item> Ciencia Ficción </button>
                <button mat-list-item> Histórica </button>
                <button mat-list-item> Juvenil </button>
                <button mat-list-item> Niños </button>
                <button mat-list-item> Romance </button>
                <button mat-list-item> Terror </button>
            </mat-action-list>
            <!--<button mat-button>
                <mat-icon>access_time</mat-icon> Añadido Recientemente
            </button>
            <button mat-button>
                <i class="bi bi-magic">Ciencia Ficción</i>
            </button>
            <button mat-button>
                <i class="bi bi-book-half">Romance</i>
            </button>
            <button mat-button>
                <i class="bi bi-eyeglasses">Juvenil</i>
            </button>
            <button mat-button>
                <i class="bi bi-book-half">Histórica</i>
            </button>
            <button mat-button>
                <i class="bi bi-book-half">Terror</i>
            </button>
            <button mat-button>
                <i class="bi bi-book-half">Aventura</i>
            </button>
            <button mat-button>
                <i class="bi bi-moon-fill">Niños</i>
            </button>-->
        </mat-sidenav>
        <mat-sidenav-content class="content">
            <app-libro [titulo]="libro.titulo" [autor]="libro.autor" [precio]="libro.precio"
                *ngFor="let libro of libros">
                {{libro}}</app-libro>
        </mat-sidenav-content>
    </mat-sidenav-container>
    <mat-paginator [length]="10" [pageSize]="18" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
    </mat-paginator>
</div>