header {
  background-color: var(--pc-amparo-blue);
  /* height: 64px; */
}

nav {
  background-color: var(--pc-amparo-blue);
}

img {
  height: 30px;
}

a,
li {
  color: var(--tce-1);
}

.icon-display {
  transform: scale(2);
  color: var(--tce-1);
}

.navbar-toggler:focus {
  box-shadow: none;
}

.btn-primary {
  --bs-btn-bg: var(--pc-hole-in-one);
  --bs-btn-hover-bg: var(--pc-goldenrod-field);
}

.btn-outline-light {
  --bs-btn-hover-color: var(--pc-amparo-blue);
}

.active {
  background-color: var(--tce-1);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.active a {
  color: var(--pc-amparo-blue);
}

li :hover {
  color: var(--pc-goldenrod-field);
}

/*---------------------------------------------------------------- */
/* * { */
/* font-family: var(--ff-fredoka); */
/* } */

/* nav {
  background-color: var(--pc-amparo-blue);
  height: 68px;
} */

/* img {
  height: 64px;
} */

/* .nav-link {
  color: var(--tce-1) !important;
  font-size: 16px;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
} */

/*#945aaf*/
/* .nav-link:hover {
  background-color: var(--pc-hole-in-one); 
  color: var(--tce-1) !important;
  border-radius: 10px;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
} */

/* nav ul li a svg {
  fill: var(--tce-1);
} */

/*#945aaf*/
/* .active {
  background-color: var(--pc-hole-in-one); 
  border-radius: 10px;
} */

/* .content {
  width: 104px;
  text-align: center;
} */

/*mat-toolbar, button{
  background-color: var(--pc-amparo-blue);
  color:var(--tce-1)
}*/
